* {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa; 
  /* background: rgb(64, 59, 122); */
}

a {
  text-decoration: none;
}

/* forms */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid indigo;
  background: white;
}

input,
select,
textarea {
  border: 0;
  border-bottom: 1px solid indigo;
  padding: 5px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* buttons */
button {
  background: darkblue;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 6px 12px;
  /* font-weight: 600; */
  font-weight: 300; 
  cursor: pointer;
  display: inline-block;
  outline: none;
  margin: 5px;
}

button:hover {
  background: springgreen;
  color: indigo;
}

button:disabled {
  opacity: 0.5;
  color: white;
  background: gray;
  cursor: not-allowed;
}

.container {
  margin: auto;
  /* background: rgb(26, 42, 107); */
  padding: 5px;
  /* border-radius: 5px; */
  max-width: 1200px;
}

.container-header {
  background: rgb(152, 178, 240);
  align-items: center;
  display: flex;
}

.container-body {
  /* background: rgb(130, 13, 226); */
  /* background: gray; */
  align-items: center;
  text-align: center;
  border: 1px solid indigo;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  padding: 10px;
  /* border: 2px solid white; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

/* table */
table {
  width: 100%;
  text-align: center;
  padding: 10px;
}

thead {
  font-weight: bold;
  background: rgb(38, 110, 218);
  color: white;
}

tr {
  background: white;
}

tr:hover {
  background: rgb(7, 172, 238);
  cursor: pointer;
}

td {
  padding: 2px;
  outline: 1px solid darkblue;
}

td button {
  margin: 1px;
}

/* .table-header */
.table-header {
  display: flex;
}
